INSIGHTS:
 ID: “afe345e9-2b6b-4bb0-ba8e-ea970dd717b0”
CI:
 DOCKER_IMAGE_NAME: "hri"
 REGISTRY_NAMESPACE: “hri-mgmt-api”
 POLICY_NAME: “CI” 
 NOLATEST: "true"
 UMBRELLA_GIT_REPO: "https://github.com/wffh-hri/deploy"
 UMBRELLA_REPO_PATH: "https://github.com/wffh-hri/deploy"
 PREFIX: “hri”
 REPORT_PATH: “lcov.info”
 BUILDCACHE: “false”
 REPLACEARGS: “true”
CD:
 POLICY_NAME: “CD”
 APP_NAME: “hri”
 SERVICENOW_SERVICENAME: “wh-dev-team”
 TILLERSERVICEACCOUNTDISABLE: “true”
 HELM_TIMEOUT: “1800”
 USESOURCE: “true”
 USEHELMV3: “true”
 NOTERRAFORMAPPLY: “true”
 LOCAL_PORT: “9000”
 POD_PORT: “1323”
 
STAGECD:
 POLICY_NAME: “STAGECD”
 
STAGECVV:
 POLICY_NAME: “STAGECVV”

PRODCD:
 POLICY_NAME: “PRODCD”
ASOC:
 ASOC_APP_NAME: “starter-app-1”
 KEY_ID: “8c1e89c2-e14e-8f09-2864-46ff9a4b7f14”
 
COPYCHECK:
 AUTOFIX: “true”
