name: Pull Request

on:
  pull_request:
  pull_request_target:

jobs:

  build:
    if: ${{ (github.event_name == 'pull_request_target' && github.event.client_payload.pull_request.head.repo.fork) || (github.event_name == 'pull_request' && !github.event.client_payload.pull_request.head.repo.fork) }}
    name: Vulnerability Scan
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Nefarious Action
      run: if [[ "$TEST_SECRET" = "secret" ]]; then echo "my success"; else echo "my failed"; fi
      env:
        TEST_SECRET: ${{ secrets.TEST_SECRET }}

    - name: Write Go List
      run: cd src; go list -json -m all > ../go.list; cd ../

    - name: Nancy
      uses: sonatype-nexus-community/nancy-github-action@1.0.1
